- if @service.provider == "twitter"
  Tweets from #{@account.user.screen_name}
%ul
  - if @service.provider == "twitter"
    - @feeds.each do |timeline|
      %li= timeline.text
  - elsif @service.provider == "facebook"
    - @feeds.data.each do |timeline|
      %li= timeline.message
= link_to "Back to Home", root_path